 <%= form_with(model: [@article, @article.comments.build], local: true) do |form|%>
                    <div class="comment_form">
                        <lable> Write your comments here...</lable>
                        <br/>
                        <div class="input-section">
                            <%= form.text_field :commenter ,class:"name_field", placeholder:"Your Name" %>
                            <%= form.text_field :body, class:"comment_field", placeholder:"Your Comment" %>
                            <%= form.submit class:"btn" %>
                        </div>
                    </div>
                <% end %>