textarea {
  width: 500px;
  height: 200px;
  padding: 10px 25px;
}
textarea:focus {
  outline: none;
  border: 1px solid #ff516b;
}

.input-field {
  width: 500px;
  border: 1px solid black;
}
.btn-container {
  text-align: center;
}

.btn {
  line-height: 22pt;
  padding: 10px 20px;
  border: 1px solid #ffdfe4;
  color: #898989;
  font-family: "Work Sans", sans-serif;
  display: inline-block;
  background: white;
  background: rgb(206, 53, 68);
  color: white;
}
.btn:hover {
  background: rgb(211, 85, 97);
  color: white;
}
