<div >
    <div class="navbar_heading">
        <h1> Blog Diary</h1>
    </div>
    <div class="navbar-list-section">
        <div class="navbar-items">
            <%= link_to 'Home', '/' %>
            <%= link_to 'New article', new_article_path %>
        </div>
    </div>    
</div>